# Supabase Configuration
VITE_SUPABASE_URL=https://ocpiazzntzcndxmityqr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jcGlhenpudHpjbmR4bWl0eXFyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzNzk0OTUsImV4cCI6MjA5MDk1NTQ5NX0.SFTKc2o9DfTicMEp4mebx7vIkDeznm2qp-bpNc124eo
