# Hostinger Database Credentials
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_SECRET_KE=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_STRIPE_PUBLI=
SUBSCRIPTION_PRICE_ID=
SUBSCRIPTION_PRI=
